@font-face {
  font-family: 'Fixedsys Excelsior';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/FixedsysExcelsior300.woff') format('woff');
}

@font-face {
  font-family: 'Less Perfect DOS VGA';
  src: url('../fonts/LessPerfectDOSVGA.woff2') format('woff2'), url('../fonts/LessPerfectDOSVGA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'More Perfect DOS VGA';
  src: url('../fonts/MorePerfectDOSVGA.woff2') format('woff2'), url('../fonts/MorePerfectDOSVGA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
