@import url(./fonts.css);
@import url(./minireset.min.css);

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body.pagetype-1 {
  background-image: linear-gradient(0, rgb(0, 20, 0) 25%, black 25%, black 50%, rgb(0, 20, 0) 50%, rgb(0, 20, 0) 75%, black 75%, black 100%);
  background-size: 4px 4px;
}

body.pagetype-3 {
  background-color: lightgray;
}

body.pagetype-2,
body.pagetype-4 {
  background-color: white;
}

#root > .error,
#root > .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: -2% 0 0;
}

#root > .error {
  animation: anim-pulse 2s infinite;
  color: darkred;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: 600;
  perspective: 600px;
  user-select: none;
}

#root > .error > span + span {
  position: relative;
  top: -10px;
  transform: rotateX(240deg) scale(1.035);
  opacity: 0.12;
}

@keyframes anim-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.05;
  }
}
