@import url(./fonts.css);
@import url(./minireset.min.css);

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body.pagetype-1 {
  background-image: linear-gradient(0, rgb(0, 20, 0) 25%, black 25%, black 50%, rgb(0, 20, 0) 50%, rgb(0, 20, 0) 75%, black 75%, black 100%);
  background-size: 4px 4px;
}

body.pagetype-2 {
  background-color: white;
}

body.pagetype-3 {
  background-color: lightgray;
}

body.pagetype-4 {
  background-color: rgb(240, 240, 240);
}

#root > .error,
#root > .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: -2% 0 0;
}
